html, body {
height: 100%;
width: 100%;
overflow: hidden;
}

@font-face {
font-family: 'Droid Sans';
font-style: normal;
font-weight: 400;
src: local('Droid Sans'), local(DroidSans), url(s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

.module h2: first-of-type, .dialog h2: first-of-type, .placeholder h2: first-of-type {
color: #EEE;
}

h2 {
background: transparent;
border: 0;
font-size: 100%;
margin: 0;
outline: 0;
padding: 0;
vertical-align: baseline;
}

body {
background-color: #333;
background-image: url('background.jpg');
background-attachment: fixed;
background-size: cover;
color: #eee;
font-family: "Droid Sans", Arial, Helvetica, Sans-serif;
font-size: 80%;
line-height: 1;
overflow-x: hidden;
}

a {
color: #67c0f8;
text-decoration: none;
}

a: hover {
color: #add6ef;
}

ol, ul {
list-style: none outside none;
}

blockquote, q {
quotes: none;
}

:focus {
outline: 0;
}

ins {
text-decoration: none;
}

del {
text-decoration: line-through;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

textarea, input, select {
font-family: "Droid Sans", Arial, Helvetica, Sans-serif;
font-size: 1em;
}

.clearfix, .listfix li, .formrow {
min-height: 0;
}

.clearfix: after, .listfix li: after, .formrow: after {
clear: both;
content: ".";
display: block;
height: 0;
visibility: hidden;
}

* html .clearfix, * html .listfix li, * html .formrow {
height: 1%;
}

.module {
background: url(000_80.png) repeat scroll 0 0 transparent;
border: 1px solid #333;
border-radius: 2px 2px 2px 2px;
box-shadow: 0 0 10px #222;
display: block!important;
height: 40px;
left: 21px;
margin-bottom: 40px;
padding: 5px;
position: relative;
top: 21px;
width: 314px;
}

.module h2 {
display: block;
font-size: 1.5em;
font-weight: 400;
line-height: 1.3em;
padding: 10px 15px 7px;
}

ul, span {
background: none repeat scroll 0 0 transparent;
border: 0 none;
font-size: 100%;
margin: 0;
outline: 0 none;
padding: 0;
vertical-align: baseline;
}

#applications li a {
cursor: pointer;
display: block;
padding: 10px 15px;
}

#applications li {
background: url(fff_10.png) repeat scroll 0 0 transparent;
border: 1px solid #222;
border-radius: 4px 4px 4px 4px;
line-height: 1.3em;
margin-top: 5px;
min-height: 40px;
padding: 0;
}

#applications li img {
margin-right: 5px;
vertical-align: middle;
}

#applications li .name span {
font-family: "Droid Sans";
font-size: 17px;
font-style: normal;
font-weight: 700;
vertical-align: middle;
}

object, iframe{
width: 94%;
height: 85%;
background-color: #fff;
box-shadow: 0px 0px 10px 2px #222;
visibility: hidden;
position: absolute;
left: 3%;
top: 11%;
z-index: 1;
}
